DATABASE_URL=postgresql://neondb_owner:npg_Rsz0mb7EfOUp@ep-long-moon-adthibmc-pooler.c-2.us-east-1.aws.neon.tech/code_sprint?sslmode=require&channel_binding=require
#MONGODB_URI=mongodb+srv://codesprintai:codesprint2025@cluster0.idzbh4g.mongodb.net/CodeSprint?retryWrites=true&w=majority&appName=Cluster0
PORT=5000
NODE_ENV=development

JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key


GOOGLE_CLIENT_ID=159856091204-eeqm0b5602030pn4rhh6mmc19uaek38o.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GITHUB_CLIENT_ID=Ov23li98eiBwg9JoedxF
GITHUB_CLIENT_SECRET=4056a441ef91d1c54d668e157b8210eab32f1fac


EMAIL_TOKEN_SECRET=your-email-secret
RESET_TOKEN_SECRET=your-reset-secret
SMTP_USER=codesprint.ai@gmail.com
SMTP_PASS=lkkm sdgg tuqt qkbg
